
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro:200,400,600|Istok+Web:400,700,400italic,700italic&display=swap);

:root {
  --color-main: rgb(255, 166, 0);
  --color-link: #0097ee;
  --color-gray-light: #E7ECE9;
  --font-name-heading: 'Source Code Pro', monospace;
  --font-name-body: 'Istok Web', sans-serif;
  --font-name-code: 'Source Code Pro', monospace;
  --scroll-percentage: 0%;
  --scroll-part: 0;
}

.space {
  min-height: 1px;
}

.header__top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -233px;
  /* padding-bottom: 200px; */
}
.header__top-img {
  margin-right: 20px;
  width: 150px;
}

.project__title {
  color: var(--color-main);
  margin-top: 0;
  font-weight: 400;
  width: 521px;
}
.project__client {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #888;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  line-height: 180%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: white;
  font-family: var(--font-name-body);
  font-size: 1rem;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }
}

a {
  color: var(--color-link);
}

header {
  position: sticky;
  top: -11rem;
  z-index: 256;
  height: 12rem;
  display: block;
  margin: 0;
  padding: 1rem 0;
  overflow: hidden;
  color: white;
  text-transform: uppercase;
  background-color: var(--color-main);
  background-size: cover;
}

@media (min-width: 768px) {
  header {
    top: -10.5rem;
  }
}

header>* {
  position: relative;
  z-index: 10;
}

/* .experiment-ui {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.5rem;
  height: 1.5rem;
} */

header h1 {
  /* position: relative; */
  /* left: 50%; */
  /* z-index: 2; */
  /* display: inline-block; */
  /* margin: 0 auto; */
  /* transform: translateX(-50%); */
  /* font-size: inherit; */
  text-align: center;
  margin-top: -20px;
}


header h1 .name {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 400;
}

header h1 .what {
  font-size: 1.25rem;
  letter-spacing: 0.27rem;
  font-weight: 600;
  color: rgb(255 255 255 / 80%);
}

header nav {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 3;
  display: flex;
  transform: translateX(-50%);
  white-space: nowrap;
  line-height: 1rem;
}

@media (min-width: 768px) {
  header nav {
    line-height: 1.5rem;
  }
}

header nav a {
  position: relative;
  display: block;
  height: 1rem;
  margin: 0 0.125rem;
  background-color: var(--color-main);
}

@media (min-width: 768px) {
  header nav a {
    height: 1.5rem;
  }
}

header nav a.current,
header nav a.current-parent {
  background-color: #000;
}

header nav a span {
  font-size: 0.625rem;
  padding: 0 0.5rem;
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  header nav a span {
    font-size: 0.75rem;
    padding: 0 0.625rem;
    line-height: 1.5rem;
  }
}



header a,
footer a {
  text-decoration: none;
  color: inherit;
}

main {
  position: relative;
}

.content {
  max-width: 768px;
  margin: 0 auto;
}

.content__intro {
  font-size: 2rem;
  font-family: 'Source Code Pro', monospace;
  line-height: 130%;
  text-align: center;
}

.content__intro a {
  text-decoration: none;
  color: inherit;
}

.content__intro-body {
  text-align: center;
}

.content[data-pathname^="project"]:not([data-pathname^="project-"]),
.content.wide {
  max-width: none;
}



.content {
  min-height: calc(100vh - 14.25rem);
}



footer {
  position: relative;
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  background-color: var(--color-main);
  color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: middle;
  font-size: 1.625rem;
  line-height: 2rem;
}

footer>* {
  padding: 0.125rem;
  flex: 0 0 auto;
}

footer>*:last-child {
  flex: 0 1 10rem;
}


footer .social {
  display: flex;
  margin-left: calc(50% - 55px);
  padding-top: 6px;
}

footer .social a {
  display: inline-block;
  margin: 0 0.125rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: #fff;
  border-radius: 50%;
}

footer .social span {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-name-heading);
  font-weight: 200;
  line-height: 120%;
}

header {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 0 0 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 300ms ease;
}

header:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 0;
  background-color: var(--color-main);
  transition: height 300ms ease;
}

header.stuck {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
}

header.stuck:after {
  height: 1rem;
}

@media (min-width: 768px) {
  header.stuck:after {
    height: 1.5rem;
  }
}

header nav a {
  transition: box-shadow 200ms linear;
  box-shadow: 0 0 0 -1px #000 inset;
}

header nav a:hover,
header nav a.current,
header nav a-parent.current {
  background-color: #F04;
  box-shadow: -100px 0 0 #000 inset;
}

header .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

header .background:before,
header .background:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-size: inherit;
  background-position: inherit;
  background-image: inherit;
  transform: scale(1.15);
}

header .background:before {
  filter: blur(4px);
}

header .background:after {
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, black 40%, black 60%, rgba(0, 0, 0, 0) 100%);
  filter: blur(16px);
}



.cv-projects {
  margin: 0;
}


.cv-projects>li {
  padding: 3rem 1rem;
  box-shadow: 0 -1px 0 #eee;
}

.cv-projects time {
  position: relative;
  z-index: 2;
  line-height: 100%;
}

.cv-projects .tags {
  padding: 0;
  list-style: none;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #888;
}

.cv-projects .tags li {
  display: inline-block;
}

[data-skill] .icon {
  width: 0.5rem;
  height: 0.5rem;
  fill: rgb(255, 166, 0);
}

[data-skill] .icon:nth-child(n+5) {
  margin-right: 0.5rem;
}

[data-skill][data-skill="4"] .icon:nth-child(n+5),
[data-skill][data-skill="3"] .icon:nth-child(n+4),
[data-skill][data-skill="2"] .icon:nth-child(n+3),
[data-skill][data-skill="1"] .icon:nth-child(n+2) {
  fill: #C0C9C4;
}


footer .social a {
  color: rgb(0, 0, 0);
  background-color: transparent;
}

ul.unstyled,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}


.pull-right {
  float: right;
}

.date {
  padding-top: 0.5rem;
  display: inline-block;
  float: right;
  color-var (--color-gray-light);
}

.date-from,
.date-to {
  display: block;
}

hr {
  border: 0;
  height: 1px;
  background-color: #eee;
}

time {
  font-family: var(--font-name-heading);
  font-size: 0.75rem;
  font-weight: 600;
}

img,
svg {
  max-width: 100%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #000;
  vertical-align: middle;
}


